@font-face {
    font-family: 'Chilgok_Kaj';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/chilgok/Chilgok_Kaj.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/chilgok/Chilgok_Kaj.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/chilgok/Chilgok_Kaj.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/chilgok/Chilgok_Kaj.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/chilgok/Chilgok_Kaj.ttf') format("truetype");
    font-display: swap;
} 