@font-face {
    font-family: 'Chilgok_kyb';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/chilgok/Chilgok_kyb.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/chilgok/Chilgok_kyb.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/chilgok/Chilgok_kyb.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/chilgok/Chilgok_kyb.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/chilgok/Chilgok_kyb.ttf') format("truetype");
    font-display: swap;
} 